{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<p class="text-about">
    Mini sistema desenvolvido para testar o back-end(Django), o site não está  responsivo pois não conheço muito de front-end, mas caso queira me ajudar a deixá-lo mais bonito entre em contato comigo através do meu <img class="img-logo-linkedin" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Logo do Linkedin"> por favor clique <a href="https://www.linkedin.com/in/pedro-barrios-1419401b1/"> aqui</a>. {auth_user.username}
</p>
{% endblock content %}